{% extends "layout/default.html.twig" %}

{% block content %}
	{% block main %}{% endblock %}
	{% block sidebar %}
		<div class="side">
			<div>
				<h3>Navigation</h3>
				<ul>
					<li>Link 1</li>
					<li>Link 2</li>
					<li>Link 3</li>
				</ul>
			</div>
		</div>
	{% endblock %}
{% endblock %}