<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block meta %}{% endblock %}
	<link href="/css/default.css" rel="stylesheet">
</head>
<body>
<header>
	<div class="brand">
		<h3>Psr</h3>
	</div>
	<nav class="nav-links">
		{% block navbar %}{% endblock %}
	</nav>
</header>
<section>
	<nav class="breadcrumb">
		{% block breadcrumb %}{% endblock %}
	</nav>
</section>
<main>
	{% block content %}{% endblock %}
</main>
<footer>
	<p class="copyright">&copy; 2018</p>
</footer>
</body>
</html>