version: "3.4"
services:
  app:
    labels:
      app.description: "Psr framework"
      app.maintainer: "spiritabsolute@yandex.ru"
    build:
      context: .
      target: dev
    container_name: psr-framework-dev
    command: composer serve
    ports:
      - 8000:8000
    volumes:
      - ./config:/app/config
      - ./public:/app/public
      - ./src:/app/src
      - ./templates:/app/templates
      - ./tests:/app/tests
      - ./phpunit.xml.dist:/app/phpunit.xml.dist
      - ./cache:/cache